doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title IE - TECH

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css.pug

    body.d-flex.flex-column

        main.flex-shrink-0

            // Navigation
            include includes/navbar.pug

            // Header
            header.py-5
                .container.px-5
                    .row.justify-content-center
                        .col-lg-8.col-xxl-6
                            .text-center.my-5
                                h1.fw-bolder.mb-3 Our mission.
                                p.lead.fw-normal.text-muted.mb-4 To empower businesses with cutting-edge machine learning and artificial intelligence solutions, driving innovation and transforming industries through advanced data-driven decision making.
                                a.btn.btn-primary.btn-lg(href='#scroll-target') Read our story

            // About section one
            section.py-5.bg-light#scroll-target
                .container.px-5.my-5

                    .row.gx-5.align-items-center
                        .col-lg-6
                            img.img-fluid.rounded.mb-5.mb-lg-0(src='/assets/images/img2.jpeg', alt='...')
                        .col-lg-6
                            h2.fw-bolder Our founding
                            p.lead.fw-normal.text-muted.mb-0 At IE - TECH, our founding is rooted in our unwavering belief in the transformative power of Artificial Intelligence. We envision a world where businesses can harness the full potential of AI to unlock new realms of innovation, efficiency, and growth. With a relentless drive to bring these AI opportunities to businesses of all sizes, we embarked on a journey to pave the way for the AI revolution.Fuelled by our passion for cutting-edge technology, deep expertise in ML | AI, and a relentless pursuit of excellence, we are dedicated to pushing the boundaries of what's possible with AI. We are committed to democratizing access to AI and making it accessible, practical, and beneficial for businesses across industries. As trailblazers in the ever-evolving field of AI, we are driven by our mission to empower businesses to unlock new possibilities, make data-driven decisions, and achieve unparalleled success. Our founding principles of innovation, expertise, and unwavering commitment to excellence continue to guide us as we strive to shape the future of businesses through the power of Artificial Intelligence. Join us in this exciting journey and let's unlock the limitless potential of AI together, propelling businesses into a future where AI-powered solutions are the driving force behind innovation, growth, and success.

            // About section two
            section.py-5
                .container.px-5.my-5

                    .row.gx-5.align-items-center
                        .col-lg-6.order-first.order-lg-last
                            img.img-fluid.rounded.mb-5.mb-lg-0(src='../assets/images/img4.jpg', alt='...')
                        .col-lg-6
                            h2.fw-bolder Growth &amp; beyond
                            p.lead.fw-normal.text-muted.mb-0 At IE - TECH, we are committed to not just keeping up with the rapid growth of Artificial Intelligence, but also leading the charge in shaping the future of this groundbreaking technology. As we look ahead, we see a world where AI will revolutionize businesses, industries, and society as a whole. With our unwavering passion for AI and a relentless pursuit of excellence, we are poised to embrace the immense growth opportunities that lie ahead. We envision a future where AI will be at the forefront of driving innovation, transforming business models, and unlocking unprecedented possibilities. As a pioneering force in the field of AI, IE - TECH is dedicated to playing a pivotal role in this transformative journey. We are committed to staying at the cutting edge of AI advancements, constantly innovating and developing state-of-the-art solutions that deliver tangible value to our clients. Our team of experts continues to push the boundaries of what's possible with AI, harnessing its power to drive business growth, enhance decision-making, optimize operations, and unlock new realms of efficiency and effectiveness. As we embark on this journey of growth and beyond, we are driven by our mission to empower businesses to thrive in the era of AI. We are dedicated to helping businesses of all sizes and industries leverage the limitless potential of AI, propelling them to new heights of success. With our innovative solutions, deep expertise, and unwavering commitment to excellence, IE - TECH is poised to be at the forefront of the AI revolution, shaping the future of businesses and driving growth in a world powered by Artificial Intelligence.


            // Team members section
            

        // Footer
        include includes/footer.pug

        include includes/scripts.pug
